:root {
  --size-base: 0.25rem; /*4px */
  --size-main-wrapper: 62.5rem; /* 1000px */
  --color-bg-body: rgb(250, 232, 228);

  --color-text: #282626;

  --font-family: Arial, Helvetica, freesans, sans-serif;
}

body {
  background-color: var(--color-bg-body);
}
